<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111687073-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111687073-1');
    </script>

    <title>Fakebook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="icon" 
      type="image/png" 
      href="assets/fakebook_favicon.png">
      
    <script src="https://use.fontawesome.com/1fe5e60235.js"></script>

    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>",
          "first_name": "<%= current_user.first_name %>",
          "last_name": "<%= current_user.last_name %>",
          "profile_img_url": "<%= current_user.profile_img_url %>",
          "cover_img_url": "<%= current_user.cover_img_url %>",
          "friends": <%= current_user.accepted_friends_ids %>,
          "friend_requests": <%= current_user.incoming_pending_friends_ids %>
        };
      </script>
    <% end %>
      

  </head>

  <body>
    <%= yield %>
  </body>
</html>
